<!DOCTYPE html>
<title>User Registration</title>
<body>
    <form method="post" action="/display/">
        
        <label for="email" class="form-label"><b>Email address</b></label>
        <input type="text" class="form-control" id="email" aria-describedby="emailHelp">
    
        <label for="password" class="form-label"><b>Password</b></label>
        <input type="text" class="form-control" id="password">

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>